<ul id="with_genres" class="multi_select text" name="with_genres[]">

  <li data-value="10759" class=""><a class="no_click" href="/discover/tv?with_genres=10759">Action &amp; Adventure</a></li>

  <li data-value="16"><a class="no_click" href="/discover/tv?with_genres=16">Animation</a></li>

  <li data-value="35"><a class="no_click" href="/discover/tv?with_genres=35">Comedy</a></li>

  <li data-value="80"><a class="no_click" href="/discover/tv?with_genres=80">Crime</a></li>

  <li data-value="99"><a class="no_click" href="/discover/tv?with_genres=99">Documentary</a></li>

  <li data-value="18"><a class="no_click" href="/discover/tv?with_genres=18">Drama</a></li>

  <li data-value="10751"><a class="no_click" href="/discover/tv?with_genres=10751">Family</a></li>

  <li data-value="10762"><a class="no_click" href="/discover/tv?with_genres=10762">Kids</a></li>

  <li data-value="9648"><a class="no_click" href="/discover/tv?with_genres=9648">Mystery</a></li>

  <li data-value="10763"><a class="no_click" href="/discover/tv?with_genres=10763">News</a></li>

  <li data-value="10764"><a class="no_click" href="/discover/tv?with_genres=10764">Reality</a></li>

  <li data-value="10765"><a class="no_click" href="/discover/tv?with_genres=10765">Sci-Fi &amp; Fantasy</a></li>

  <li data-value="10766"><a class="no_click" href="/discover/tv?with_genres=10766">Soap</a></li>

  <li data-value="10767"><a class="no_click" href="/discover/tv?with_genres=10767">Talk</a></li>

  <li data-value="10768"><a class="no_click" href="/discover/tv?with_genres=10768">War &amp; Politics</a></li>

  <li data-value="37"><a class="no_click" href="/discover/tv?with_genres=37">Western</a></li>

</ul>
